<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/public/admin.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.1.1/d3.min.js"></script>
  <script src="logo.js"> </script>

  <title>Document</title>
</head>

<body>
  <div>
    <canvas id="myCanvas" width="300" height="100"> </canvas>
    <img id="logoImage" src="logo%20picture.webp" style="width: 150px; height: 150px;">
  </div>


  <div class="topnav">

    <a class="active" href="/">Home</a>
    <a href="/shop">Shop</a>

    <a href="/myOrders">My orders</a>

    <a href="/Contact">Contact</a>

    <a href="/About">About</a>

    <a href="/Admin">Admin</a>

  </div>


  <form action="#" id="getinform">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" id="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" id="psw" required>

      <button type="submit" id="login">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>

  <h1 id="welcomeMessage"> </h1>
  <div id="allupdate">
    <input id="prodname" placeholder="name of product" />
    <input id="prodprice" placeholder="enter new price" />
    <button id="updatebtn">Update</button>
  </div>
  <div id="allcreate">
    <input id="newprod" placeholder="name of product" />
    <input id="newprice" placeholder="enter new price" />
    <input id="newquantity" placeholder="enter quantity" /> <!-- newly added -->
    <input id="newcategory" placeholder="enter category" /> <!-- newly added -->
    <input type="file" id="newimg" />
    <button id="createbtn">CREATE</button>
  </div>



  <div id="alldelete">
    <input id="delname" placeholder="name of product you want to delete" />
    <button id="deleteBtn">Delete</button>

    <h3>List</h3>

    <div id="productContainer"></div>

    <br /><br />
    <h1>Chart</h1>
    <h3>The left table shows the quantity in stock of each product</h3>
    <h3>The right table shows what part each product represents in percentage of the total of all products in stock</h3>

    <span id="chartContainer"></span>


    <span id="pieChartContainer">
    </span>


  </div>
  <script src="/adminpage.js"></script>
</body>

</html>