<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="/public/home.css" rel="stylesheet">
    <script src="app.js"> </script>
    <title>COCO jewlery</title>
</head>

<body>
    <header>
        <span>
            <i class='fa fa-user' style='font-size: 32px;'></i> &nbsp
            <i class="fa fa-shopping-cart" style='font-size: 32px;'></i> &nbsp
            <i class='fa fa-heart-o' style='font-size: 32px;'></i> &nbsp
        </span>

        <div>
            <canvas id="myCanvas" width="300" height="100"> </canvas>
            <img id="logoImage" src="logo%20picture.webp" style="width: 150px; height: 150px;">
        </div>

    </header>


    <div class="topnav">

        <a href="/">Home</a>

        <div class="dropdown">
            <a href="/Rings" class="dropbtn">Rings</a>

        </div>

        <div class="dropdown">
            <a href="/Necklaces" class="dropbtn">Necklaces</a>
            <div class="dropdown-content">
                <a href="/Silver necklaces">Silver necklaces</a>
                <a href="/Gold necklaces">Gold necklaces</a>
                <a href="/Pearls necklaces">Pearls necklaces</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="/Bracelets" class="dropbtn">Bracelets</a>
            <div class="dropdown-content">
                <a href="/Silver bracelets">Silver bracelets</a>
                <a href="/Gold bracelets">Gold bracelets</a>
                <a href="/Anklets">Anklets</a>
            </div>
        </div>


        <a href="/BEST SELLERS">BEST SELLERS</a>

        <a href="/SALE">SALE</a>

        <a class="active" href="/Contact">Contact</a>

        <a href="/About">About</a>

        <a href="/Admin">Admin</a>

    </div>




    <section id="contact-details" class="section-p1">
        <div class="details">

            <h2>Visit us in agency locations or contact us today</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="fa fa-map-marker"></i>
                    <p> Elie Wiesel 2 Rishon LeZion</p>
                </li>
                <li>
                    <i class="fa fa-envelope"></i>
                    <p>COCO@gmail.com </p>
                </li>
                <li>
                    <i class="fa fa-clock-o"></i>
                    <p> Sunday to Thursday:9:00am to 18:00 </p>
                </li>
            </div>
        </div>



        <section id="form-details">
            <form action="">
                <span>LEAVE A MESSAGE</span>
                <h2>We love to hear from you</h2>
                <input type="text" placeholder="Yout Name">
                <input type="text" placeholder="E-mail">
                <input type="text" placeholder="Subject">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                <button class="normal" onclick="openPopup()">Submit</button>
                <script>
                    function openPopup() {
                        // Create the new window
                        var popup = window.open("", "popup", "width=400,height=300");


                        var popupContent = "<h1>Your details have been entered into the system :)";

                        // Display the content in the new window
                        popup.document.write(popupContent);
                    }
                </script>


            </form>

        </section>

        <div class="branch-container">
            <div class="branch">

                <div class="branch-details">
                    <h3>COCO JEWELRY-RAMAT AVIV</h3>
                    <p>Location: Address 1</p>
                    <p>Phone: 035522133</p>
                    <p>Hours:
                        Sunday to Thursday: 10:00am to 22:00</p>
                </div>
                <div class="map-container" id="map1"></div>
            </div>

            <div class="branch">

                <div class="branch-details">
                    <h3>COCO JEWELRY-HAZAV</h3>
                    <p>Location: Address 2</p>
                    <p>Phone: 035522144</p>
                    <p>Hours: Sunday to Thursday: 10:00am to 22:00</p>
                </div>
                <div class="map-container" id="map2"></div>
            </div>

            <div class="branch">

                <div class="branch-details">
                    <h3>COCO JEWELRY-COLMAN</h3>
                    <p>Location: Address 3</p>
                    <p>Phone: 035522155</p>
                    <p>Hours: Monday-Friday 7am-8pm</p>
                </div>
                <div class="map-container" id="map3"></div>
            </div>

            <div class="branch">

                <div class="branch-details">
                    <h3>COCO JEWELRY-ICE MALL</h3>
                    <p>Location: Address 4</p>
                    <p>Phone: 085522133</p>
                    <p>Hours: Sunday to Thursday: 10:00am to 22:00</p>
                </div>
                <div class="map-container" id="map4"></div>
            </div>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3xsqtuuzminYxX_s9sqzILXU2Wv5OrRo"></script>
        <script>
            function initMap() {
                // Branch 1 -Ramat Aviv -Tel Aviv
                var map1 = new google.maps.Map(document.getElementById('map1'), {
                    center: { lat: 32.112497671526526, lng: 34.79593606166199 },
                    zoom: 12

                });
                var marker1 = new google.maps.Marker({
                    position: { lat: 32.112497671526526, lng: 34.79593606166199 },
                    map: map1
                });

                // Branch 2 - Rishon Lezsion - Hazav Mall 
                var map2 = new google.maps.Map(document.getElementById('map2'), {
                    center: { lat: 31.99084966020157, lng: 34.774850630978186 },
                    zoom: 12

                });
                var marker2 = new google.maps.Marker({
                    position: { lat: 31.99084966020157, lng: 34.774850630978186 },
                    map: map2
                });

                // Branch 3 - Rishon Lezion - colman , the main branch
                var map3 = new google.maps.Map(document.getElementById('map3'), {
                    center: { lat: 31.97004011749822, lng: 34.77106171934049 },
                    zoom: 12

                });
                var marker3 = new google.maps.Marker({
                    position: { lat: 31.97004011749822, lng: 34.77106171934049 },
                    map: map3
                });

                // Branch 4 -Eilat - ice Mall
                var map4 = new google.maps.Map(document.getElementById('map4'), {
                    center: { lat: 29.55434510020439, lng: 34.965620061770295 },
                    zoom: 12
                });
                var marker4 = new google.maps.Marker({
                    position: { lat: 29.55434510020439, lng: 34.965620061770295 },
                    map: map4
                });
            }

        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3xsqtuuzminYxX_s9sqzILXU2Wv5OrRo&callback=initMap"></script>
    </section>



    <footer class="Contact">
        <div class="col">
            <h4>Contact</h4>
            <p><strong>Addres</strong> : Elie Wiesel 2 Rishon LeZion</p>
            <p><strong>Phone</strong> : 03-963-4000</p>
            <p><strong>Hours</strong> : 10:00 - 18:00,Sunday-Thursday</p>
            <div class="contact">
                <h4>Contact with us</h4>
                <div class="icon">
                    <i class="fa fa-whatsapp" style='font-size:25px;'></i>
                    <i class="fa fa-envelope" style='font-size:25px;'></i>
                    <i class="fa fa-facebook-f" style='font-size:25px;'></i>
                    <i class="fa fa-instagram" style='font-size:25px;'></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>

        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>

        </div>

        <div class="col"></div>
        <h4>Secured Payment Getways</h4>
        <div class="payment">
            <i class="fa fa-cc-visa" style='font-size:29px;'></i>
            <i class="fa fa-cc-paypal" style='font-size:29px;'></i>
            <i class="fa fa-cc-mastercard" style='font-size:29px;'></i>
            <i class="fa fa-cc-amex" style='font-size:29px;'></i>
        </div>


    </footer>
    <div class="copyright">
        <p>&copy; 2023, COCO JEWELRY</p>
    </div>
</body>

</html>