
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link href="login&signup.css" rel="stylesheet">
  <script src="app.js"> </script>
  <link rel="stylesheet" href="login&signup.css">
  <script src="logo.js"> </script>
  
  <title>login</title>
</head>

<body>
  <header>
    <span>
      <a href="/login" class='fa fa-user' style='font-size: 32px;'></a> &nbsp
      <a href="/cart" class="fa fa-shopping-cart" style='font-size: 32px;'></a> &nbsp
      
    </span>

    <p id="username"></p>

    <img class="can" src="d77tsh0g.png">

  </header>


  <div class="topnav">

    <a class="active" href="/">Home</a>
    <a href="/shop">Shop</a>

    <a href="/myOrders">My orders</a>

    <a href="/Contact">Contact</a>

    <a href="/About">About</a>

    <a href="/Admin">Admin</a>

  </div>

<div class="container-signup">
    <h1 class="container-h" >My Account</h1><br>
    <h4 class="container-h">home/login</h4>
  </div>
  
  <br>
  
  <div class="container">
    <h1 class="form-title">Login</h1>
    <form action="#" id="login-form">
      <title>Sign in</title>
      <p class="register">Please sign in</p>
      <div class="thing">
        <input type="email" class="boxes" id="email" placeholder="Enter Email" />
        <input
          type="password"
          class="boxes"
          id="password"
          placeholder="Enter Password"
        />
        <div class="register">Don't have an account? <a class="register" href="/signup">signup here</a></div>
        <div class="btns">
          <button type="button" id="signin" class="btn btn-primary">
            sign in
          </button>
        </div>
      </div>
      <!--<div class="main-user-info">
        <div class="user-input-box">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="Enter Username" required>
          <div class="error-message" id="username-error"></div>
        </div>
        <div class="user-input-box">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Enter Password" required>
          <div class="error-message" id="password-error"></div>
        </div>
        <div class="register">Don't have an account? <a class="register" href="/signup">sign up here</a></div>
      </div>-->
      <!--<div class="form-submit-btn">
        <button type="submit">Login</button>

      </div>-->
    </form>
  </div>
  <br>

  <div class="container-signup2">
    <h1 class="container-h" ></h1><br>
    <h4 class="container-h"></h4><br>
  </div>

 
  <footer class="Contact">
    <div class="col">
      <h4>Contact</h4>
      <p><strong>Main Addres</strong> : Elie Wiesel 2 Rishon LeZion</p>
      <p><strong>Phone</strong> : 03-963-4000</p>
      <p><strong>Hours</strong> : 10:00 - 18:00,Sunday-Thursday</p>
      <div class="contact">
        <h4>Need something? Contact us</h4>
        <div class="icon">
          <i class="fa fa-whatsapp" style='font-size:25px;'></i>
          <i class="fa fa-envelope" style='font-size:25px;'></i>
          <i class="fa fa-facebook-f" style='font-size:25px;'></i>
          <i class="fa fa-instagram" style='font-size:25px;'></i>
        </div>
      </div>
    </div>

   

    <div class="col"></div>
    <h4>Secured Payment Getways</h4>
    <div class="payment">
      <i class="fa fa-cc-visa" style='font-size:29px;'></i>
      <i class="fa fa-cc-paypal" style='font-size:29px;'></i>
      <i class="fa fa-cc-mastercard" style='font-size:29px;'></i>
      <i class="fa fa-cc-amex" style='font-size:29px;'></i>
    </div>


  </footer>
  <div class="copyright">
    <p>&copy; 2023, COCO JEWELRY</p>
  </div>

</body>
<script src="signin.js"></script>


</html>